<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Hello!</title>
	</head>
	<style>
		canvas{
			   width:1000px !important;
			 height:500px !important;
		}
		</style>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
	
	<body>
	<h1>I'm a django user</h1>
	<a href="/about/">About Me</a>
	<a href="/help/">Help Me</a>
	<canvas id="bar-chart"></canvas>
	</body>
	<script>
		// Bar chart
		new Chart(document.getElementById("bar-chart"), {
			type: 'bar',
			data: {
			labels: ["Python", "C++", "C#", "PHP", "Ruby"],
			datasets: [
				{
				label: "User (Programming)",
				backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
				data: [478,567,734,784,433]
				}
			]
			},
			options: {
		responsive: true,
			legend: { display: false },
			title: {
				display: true,
				text: 'Simple Chart using ChartJS Library'
			}
			}
		});
		</script>
	
</html>
	
